body {
    font-family: "Times New Roman", serif;
    background: #ffffff;
}

.form-box {
    width: 300px;
    margin: 20px auto;
    padding: 15px 20px;
    border: 1px solid #cfd2d6;
    background: #ffffff;
}

h3 {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 25px;
}

.row {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    display: inline-block;
    width: 130px;
    vertical-align: top;
}

input[type="text"],
input[type="password"],
select {
    width: 140px;
    height: 18px;
    border: 1px solid #cfd2d6;
    font-size: 14px;
}

.section {
    margin: 15px 0;
}

.section-label {
    display: inline-block;
    width: 130px;
    vertical-align: top;
    font-size: 14px;
}

.options {
    display: inline-block;
    font-size: 14px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

.buttons input {
    width: 60px;
    padding: 3px 0;
    font-size: 14px;
    border: 1px solid #999;
    background: #f2f2f2;
    cursor: pointer;
}
